*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: grey
}

header {
    padding: 0.5rem;
     color: white;
    background-color: white;
    font-size: 48px;
}

#anime-container{
        display: flex;
        overflow-x: auto;
        margin: 2rem 0;  
        text-align: center;
        padding-left: 20px
}

img ~ h3 {
    text-align: justify;
    color: white
}


#anime-container img {
    flex: 0 1 auto;
    height: 400px;
    margin-right: 6rem;
    cursor: pointer;
  }

.characters {
    display: flex;
    flex: 0 1 auto;
    position: relative;
    border: 5px solid;
    text-align: center;
}

.characters img{
    height: 600px;
    margin: 10px 100px;
    
}

#details{
    padding: 20px;
    color: white
}

#det1{
    display:flex;
    /* padding: 10px; */
}

input[type ="submit"]:disabled {

    color: grey
}

#disabled:hover {
    color:darkmagenta
}

#star1:hover {
color: darkmagenta


}
