*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    padding: 0.5rem;

    color:black;
    background-color: white;
    font-size: 48px;
}



#anime-container{
        display: flex;
        overflow-x: auto;
        margin: 1rem 0;  
        text-align: center;
}


#anime-container img {
    flex: 0 1 auto;
    height: 400px;
    margin-right: 0.5rem;
    cursor: pointer;
  }

.characters {
    display: flex;
    flex: 0 1 auto;
    position: relative;
    border: 5px solid;
    
}

.characters img{
    height: 600px;
    margin: 10px 10px;
    
}

#details{
    padding: 20px;
}

#det1{
    display:flex;
    /* padding: 10px; */
}

